.container {
    display: flex;
    justify-content: center;
    margin: 40px 0px;
}
.form-container {
    max-width: 400px;
}
.group {
    display: flex;
    flex-direction: row;
}
.col {
    flex: 1;
    margin: 0px 20px;
}
.buttons {
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}
.error {
    font-size: small;
    text-align: right;
    color: #f00;
}